

<!DOCTYPE html>
<html>
<head>
<title>Coffee Booking App</title>
</head>
<body>
<h1>Coffee Booking</h1>
<form action="/order" method="POST">
<label for="name">Name:</label>
<input type="text" name="name">
<br>
<label for="email">Email:</label>
<input type="email" name="email">
<br>
<label for="coffee_type">Coffee Type:</label>
<select name="coffee_type">
<option value="Espresso">Espresso</option>
<option value="Latte">Latte</option>
<option value="Cappuccino">Cappuccino</option>
</select>
<br>
<label for="quantity">Quantity:</label>
<input type="number" name="quantity">
<br>
<input type="submit" value="Order">
</form>
</body>
</html>


